.labelForm {
    font-family: Inter;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    width: 764px;
    height: fit-content;
}

.form-container {
    background: rgba(138, 138, 138, 0.05);
    border-radius: 30px;
    backdrop-filter: blur(22.35px);
    padding: 80px 100px;
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    align-self: center;
}

.input-group {
    margin-bottom: 15px;
    width: 824px;
    height: 104px;
    background-color: rgba(24, 24, 24, 0.4);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 18px 36px;
}

.input-wrapper {
    position: relative;
    justify-content: center;
}

.input-wrapper input {
    width: 824px;
    height: 104px;
    padding-left: 12px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    color: white;
    font-family: Inter;    
    outline: none;
    background: none;
}

.input-wrapper label {
    position: absolute;
    top: 18px;
    left: 12px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-family: Inter;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-wrapper ::placeholder{
    color: #606060;
    font-family: Inter;
    font-size: 24px;

}

/*.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
    top: 18px;
    font-size: 12px;
    color: white;
}*/

.input-wrapper img {
    position: absolute;
    right: 10px;
    top: 36px;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
}


.choose-group{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.radio-group, .checkbox-group {
    margin-bottom: 15px;
}

.radio-group {
    width: 448px;
    height: 157px;
    background: rgba(24, 24, 24, 0.4);
    border: none;
    border-radius: 20px;
}

.checkbox-group {
    width: 344px;
    height: 157px;
    background: rgba(24, 24, 24, 0.4);
    border: none;
    border-radius: 20px;
}

.radio-group label, .checkbox-group label {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-family: Inter;
    padding-top: 18px;
    padding-left: 36px;
    margin-bottom: 20px;
}

.radio-option, .checkbox-option {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding-left: 36px;

    font-size: 24px;
    color: white;
    font-family: Inter; 
}

.button-group {
    align-self: flex-end;
}

.button-send {
    border-radius: 100px;
    padding: 20px 40px;
    background-color: #3C5DF9;
    font-family: Inter;
    color: white;
    font-size: 24px;
    border: none;
}

.button-send :hover {
    opacity: 0.8;
}