body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    
    min-height: 100vh;
    margin: 0;
}

.title-strollie {
    width: 1110px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 86px;
    text-align: center;
    color: #FFFFFF;

    margin-top: 120px;
    margin-bottom: 32px;
}

.title-strollie p {
    margin: 0;
}

.subtitle {
    width: 976px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    
}

.subtitle p {
    margin: 0;
}

.buttons-tg {
    margin-top: 52px;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.launch p {
    margin: 0;
}

.launch {
    display: flex;
    padding: 9px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #0ED965;
    border-radius: 100px;

    color: #111;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.telegram-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 9px 25px;

    justify-content: center;
    align-items: center;

    border-radius: 100px;
    background: rgba(17, 17, 17, 0.90);

    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.telegram-button p {
    margin: 0;
}

.section {
    margin-top: 140px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 788px;

    border-radius: 75px;
    background: #111;
}

.info {
    display: flex;
    flex-direction: column;
}


.about-strollie {
    display: inline;
    color: #FFF;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.margin-title-1 {
    margin-top: 140px;
    margin-bottom: 80px;
}

.margin-title-2 {
    margin-top: 110px;
    margin-bottom: 80px;
}

.margin-title-3 {
    width: 911px;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 80px;
}

.accent {
    display: inline;
    color: #1BF481;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.about-strollie p {
    margin: 0;
}

.accent p {
    margin: 0;
}

.text-info {
    width: 679px;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.margin1 {
    margin-top: 70px;
}

.margin2 {
    margin-top: 35px;
}

.text-info p {
    margin: 0;
}

.mockup {
    margin-left: 156px;
}

.align-start {
    align-self: flex-start;
    margin-left: 360px;
}

.str1 {
    display: flex;
    flex-direction: row;
    gap: 32px;

    margin-bottom: 48px;
}

.block {
    width: 336px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-lvl1 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-lvl1 p {
    margin: 0;
}

.text-lvl2 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-lvl2 p {
    margin: 0;
}

.qr-codes {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.we-telegram-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 8px 24px;

    justify-content: center;
    align-items: center;

    border-radius: 100px;
    background: rgba(17, 17, 17, 0.90);

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.we-telegram-button p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #111;
}

.footer a,
.link-email,
.politics {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

p {
    margin: 0;
}